
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome %}

{% block content %}

<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-12">
            <small></small>
            <h3>S'inscrire à l'infolettre</h3>
            <hr class="grd1">
            <p class="lead">Recevez les emails d'information de notre collectif Pacte ACVI !</p>
            <p class="">(N'hésitez pas à <a href="{%url 'senregistrer' %]">vous inscrire</a> sur le site si vous voulez participer au collectif)</p>


            </div>
        </div><!-- end title -->
    </div>
</div>


<div class="section wb">
    <div class="container-fluid">
        {% include 'form_template.html' %}

        <hr class="hr1">

    </div><!-- end container -->
</div><!-- end section -->
{% endblock %}