{% extends 'base.html' %}
{% load fontawesome %}
{% load blog_filters %}
{% load hitcount_tags %}
{%block title%}Pacte ACVI - Infolettre{%endblock%}
{% block subtitle %}
<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
                <h3>L'infolettre du Pacte ACVI</h3>


        </div>
        <hr>
    </div>
</div>

   <a href="{% url 'inscription_infolettre' %}" class="btn btn-light btn-radius"><i class="fa fa-envelope-o"></i> Cliquez ici pour recevoir les prochaines infolettres par mail</a>

{% endblock %}
{% block content %}
<hr>
<div class="row textcenter">
    <div class="col textcenter">
<p><a href="#info2">Infolettre #2 </a></p>
<p><a href="#info1">Infolettre #1 </a></p>
</div></div>
<hr>
{% include 'infolettres/infolettre2.html' %}
{% include 'infolettres/infolettre1.html' %}


{% endblock %}

