{% extends 'blog/baseBlog.html' %}
{% load static %}
{% load blog_filters %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 textcenter">
            <h4 class="hh4">Les articles du forum</h4>

        </div>
    </div>
    <div class="row justify-content-center">
		<div class="col-md-12 textcenter justify-content-center">
			<nav class="navbar navbar-nav-forum justify-content-center navbar-expand-sm navbar-light bg-light">
                        <ul class="navbar-nav">


                            <li class="nav-item">
                            <a href="{% url 'blog:ajouterNouvelArticle' %}">
        <button type="button" class="btn  btn-success" >
                <i class="fa fa-plus"></i> Ajouter un article
            </button>
                            </a>&ensp;</li>
                            <li class="nav-item">
                                    <a href="{% url 'blog:suivre_articles' %}">

        {% if request.user|is_following:suivis %}
        <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Vous êtes abonné : Cliquez pour arreter de recevoir un mail à chaque nouvel article">
             {% fontawesome_icon 'bell' %}
        </button>
        {% else %}
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Vous n'êtes pas abonné : Cliquez pour recevoir un mail à chaque nouvel article">
             {% fontawesome_icon 'bell-slash' %}
        </button>
        {% endif %}
            </a>
                            </li>
                        </ul>
			</nav>
		</div>
	</div>
    <hr>
	<div class="row justify-content-center">
		<div class="col-md-12 textcenter justify-content-center">
         <form class="form-inline justify-content-center  " action="{% url 'chercher_forum' %}" method="get" role = "search">
            {% csrf_token %}
             <div class="btn-group">
                <div class="col" style="padding-right:0;">
                <input class="form-control border-secondary border-right-0 rounded-0" name="id_recherche" placeholder="rechercher sur le forum..." type="text">
                </div>
                <div class="col-auto" style="padding-left:0;">
                    <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="submit" >{% fontawesome_icon 'search' %}</button>
                </div>
             </div>
         </form>
        </div></div>
    <hr>
	<div class="row justify-content-center">
		<div class="col-md-12 textcenter justify-content-center">
			<nav class="navbar  navbar-nav-forum justify-content-center navbar-expand-sm navbar-light bg-light">
					<ul class="navbar-nav">
<li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdownCategorie" data-toggle="dropdown">
                                 <button type="button" class="btn  btn-success dropdown-toggle" >
                            Choisir un dossier...
                                 </button>
                                </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class=" dropdown-item " style="background:white;" href="{%url 'blog:index' %}">Toutes les catégories</a>
                                <div class="dropdown-divider"></div>
            {% for categorie_id, cat_nom, cat_coul in categorie_list %}
            <a class=" dropdown-item " style="background:{{cat_coul}};" href="?categorie={{categorie_id}}"><span>{{cat_nom}}</span></a>
            {% endfor %}
    <div class="dropdown-divider"></div>
            <a class=" dropdown-item " style="background:grey;" href="?archives=True"><span>Archives</span></a>

							</div>
						</li>

<li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdownTerritoire" data-toggle="dropdown">
                                 <button type="button" class="btn  btn-info dropdown-toggle" >
            Choisir un territoire...
                                 </button>
                                </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class=" dropdown-item " style="background:white;" href="{%url 'blog:index' %}">Tous les territoires</a>
                                <div class="dropdown-divider"></div>
            {% for categorie_id, cat_nom in territoire_list %}
            <a class=" dropdown-item " href="?territoire={{categorie_id}}"><span>{{cat_nom}}</span></a>
                                {% endfor %}</div>
						</li>


					</ul>
			</nav>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-12 textcenter justify-content-center">
			<nav class="navbar  navbar-nav-forum justify-content-center navbar-expand-sm navbar-light bg-light">
                <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                      <a class="nav-link " href="#" id="menuOrdreTri" data-toggle="dropdown">

                <button type="button"  class="btn btn-light dropdown-toggle">
                    {% if request.GET.ordreTri %}
                    Triés par : {{ request.GET.ordreTri|ordreTri}}
                    {%else%}
                   Trier par...
                    {%endif%}
           </button>
                      </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for titre, ordre in ordreTriPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode|sansOrdreTri }}&ordreTri={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>
					</ul>
			</nav>
		</div>
	</div>










</div>

{%endblock%}
{% block content %}
	<div class="row">
		<div class="col-md-12 textcenter">
             <h5>
                <em>{% if request.GET.territoire  %}
<hr>
                {{territoire_courant}}
<hr>
        {%elif request.GET.permacat %}
<hr>
      Articles PacteACVI
<hr>
      {%elif request.GET.auteur %}
<hr>
      Articles de {{request.GET.auteur}}
<hr>
      {%elif typeFiltre == 'archives' %}
<hr>
      Archives
<hr>
        {%elif request.GET.categorie  %}
<hr>
      Dossier courant : '{{categorie_courante}}'
<hr>
        {%endif%}
                </em>

            </h5>
        </div></div>
<div class="infinite-container">
    <div class="grid-container justify-content-center">
    {% for article in article_list %}
                <div class="infinite-item my-auto">
            {% include "blog/article_template.html" with article=article %}
                </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
